body {
  font-family: 'Inter Variable', sans-serif;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #f1f1f1;
}

th,
td {
  border: 1px solid #afafaf;
  padding: 8px;
}

#word-list,
#word-input {
  margin-bottom: 24px;
}

.remove-word-btn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.edit-description-form {
  display: flex;
  gap: 8px;
}
.edit-description-form .description-field {
  width: 100%;
  min-width: 600px;
}

#crossword-grid {
  width: fit-content;
}

.cell-row {
  display: flex;
  width: fit-content;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 8px;
  border: 1px solid #9a9a9a;
  transition: background-color 0.2s;
  cursor: pointer;
}
.cell:hover {
  background-color: #f2f5d9;
}

#crossword-popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#crossword-popup-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  position: relative;
}

#crossword-popup-close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
