body {
  font-family: 'Inter Variable', sans-serif;
}

table {
  border-collapse: collapse;
  margin-bottom: 16px;
}

th {
  background-color: #f1f1f1;
}

th,
td {
  border: 1px solid #afafaf;
  padding: 8px;
}

.remove-word-btn:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.edit-description-form {
  display: flex;
  gap: 8px;
}
.edit-description-form .description-field {
  width: 100%;
  min-width: 600px;
}
